
.swiper-slide {
  position: relative;
  
  &.img-1 {
    background: url('../images/hero-1.jpg') center/cover no-repeat;
    height: 650px;
    filter: brightness(50%);
    
  }
  &.img-2 {
    
    background: url('../images/hero-2.jpg') center/cover no-repeat; 
    height: 650px;
    filter: brightness(50%);
  }
  &.img-3 {
   
    background: url('../images/hero-3.jpg') center/cover no-repeat;
    height: 650px;
    filter: brightness(50%);
  }
  &.img-4 {
   
    background: url('../images/hero-4.jpg') center/cover no-repeat;  
    height: 650px;
    filter: brightness(50%);
  }
}
.hero-text{
  color: #fff;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  z-index: 20;
}
.subtitle{
  text-transform: uppercase;
  font-weight: bold;
}
.text-secondary {
  color: #e83e8c !important;
}
.letter-spacing-4 {
  letter-spacing: .4em;
}
.svg-icon {
  height: 2rem;
  width: 2rem;
}