.our-guide-block {
  .swiper-slide {
    text-decoration: none;
    &.guide-1 {
      background: url('../images/new-york.jpg') center/cover no-repeat;
      height: 350px;
      width: 200px;
      border-radius: 10px; 
    }
    &.guide-2 {
      background: url('../images/paris.jpg') center/cover no-repeat; 
      height: 350px;
      width: 200px;
      border-radius: 10px;
    }
    &.guide-3 {
      background: url('../images/prague.jpg') center/cover no-repeat;
      height: 350px;
      width: 200px;
      border-radius: 10px;
    }
    &.guide-4 { 
      background: url('../images/barcelona.jpg') center/cover no-repeat;  
      height: 350px;
      width: 200px;
      border-radius: 10px;
    }
  } 
}
.card-body {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
