<section class="d-flex align-items-center dark-overlay bg-cover hero-docs"
   style="background:#f8f9fa;">
  <div class="container py-6 py-lg-7 text-white overlay-content text-center"> 
    <p class="text-lg text-shadow">
      <a href="index.html" >Home </a>
      <span class="text-black-50"> - </span>
      <a href="index.html" >Documentation </a>
      <span class="text-black-50"> - </span>
      <span class="text-black-50">Directory structure</span>
    </p>
    <h1 class="display-3 font-weight-bold text-shadow text-black-50">Directory structure</h1>  
  </div>
</section>