<section class="d-flex align-items-center dark-overlay bg-cover"
   style="background-image: url(./images/hero-6.jpg); background-position: center;">
  <div class="container py-6 py-lg-7 text-white overlay-content text-center"> 
    <p class="text-lg text-shadow"><a href="index.html" class="text-white">Home - Contact</a></p>
    <h1 class="display-3 font-weight-bold text-shadow">How can we help you today?</h1>  
  </div>
</section>