<section class="py-6">
  <div class="container">       
    <div class="row">
      <div class="col-md-4 text-center text-md-left mb-4 mb-md-0">
        <div class="icon-rounded mb-4 bg-primary-light">
          <svg class="svg-icon w-2rem h-2rem text-primary">
            <use xlink:href="#map-location-1"> </use>
          </svg>
        </div>
        <h3 class="h5">Address</h3>
        <p class="text-muted">13/25 New Avenue<br>New Heaven, 45Y 73J<br>England, <strong>Great Britain</strong></p>
      </div>
      <div class="col-md-4 text-center text-md-left mb-4 mb-md-0">
        <div class="icon-rounded mb-4 bg-primary-light">
          <svg class="svg-icon w-2rem h-2rem text-primary">
            <use xlink:href="#landline-1"> </use>
          </svg>
        </div>
        <h3 class="h5">Call center</h3>
        <p class="text-muted">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="text-muted"><strong>+33 555 444 333</strong></p>
      </div>
      <div class="col-md-4 text-center text-md-left mb-4 mb-md-0">
        <div class="icon-rounded mb-4 bg-primary-light">
          <svg class="svg-icon w-2rem h-2rem text-primary">
            <use xlink:href="#mail-1"> </use>
          </svg>
        </div>
        <h3 class="h5">Electronic support</h3>
        <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
        <ul class="list-unstyled text-muted">
          <li>info@sell.com</li>
          <li>support@sell.com</li>
        </ul>
      </div>
    </div>
  </div>
</section>