<div class="bg-block">
  <div class="container">
    <div class="block-title d-inline-flex flex-column align-items-start">
      <h3 class="display-3 font-weight-bold text-serif text-shadow mb-5 text-white">Ready for your next holidays?</h3>
      <a href="#" class="btn btn-light">Get started</a>
    </div>
  </div>
</div>