<section class="py-5 bg-gray-100">
  <div class="container">

    <div class="text-center pb-lg-4">
      <p class="subtitle text-secondary">One-of-a-kind vacation rentals </p>
      <h2 class="mb-5">Booking with us is easy</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="icon-rounded bg-primary-light mb-3">
            <svg class="svg-icon text-primary w-2rem h-2rem">
              <use xlink:href="#destination-map-1"> </use>
            </svg>
          </div>
          <h3 class="h5">Find the perfect rental</h3>
          <p class="text-muted">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed in</p>
        </div>
      </div>
      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="icon-rounded bg-primary-light mb-3">
            <svg class="svg-icon text-primary w-2rem h-2rem">
              <use xlink:href="#pay-by-card-1"> </use>
            </svg>
          </div>
          <h3 class="h5">Book with confidence</h3>
          <p class="text-muted">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pit</p>
        </div>
      </div>
      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="icon-rounded bg-primary-light mb-3">
              <svg class="svg-icon text-primary w-2rem h-2rem">
                <use xlink:href="#heart-1"> </use>
              </svg>
          </div>
          <h3 class="h5">Enjoy your vacation</h3>
          <p class="text-muted">His room, a proper human room although a little too small, lay peacefully between its four familiar</p>
        </div>
      </div>
    </div>
  </div><!--container-->
</section>