<section class="py-7 customer-block">
  <div class="container">
    <div class="text-center">
      <p class="subtitle text-primary">Testimonials</p>
      <h2 class="mb-5">Our dear customers said about us</h2>
    </div><!--text-center-->
    
    <div class="swiper-container" id="customersSwiper">
      <div class="swiper-wrapper pt-2 pb-5">
        <div class="swiper-slide">
          <div class="testimonial card rounded-lg shadow border-0">
            <div class="testimonial-avatar">
              <img src="./images/avatar/avatar-0.jpg" alt="..." class="img-fluid">
            </div>
            <div class="text">
              <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
              <p class="testimonial-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
              <strong>Jessica Watson</strong>
            </div>
          </div><!--.testimonial-->
        </div><!--Customer-1-->
        <div class="swiper-slide">
          <div class="testimonial card rounded-lg shadow border-0">
            <div class="testimonial-avatar">
              <img src="./images/avatar/avatar-0.jpg" alt="..." class="img-fluid">
            </div>
            <div class="text">
              <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
              <p class="testimonial-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
              <strong>Jessica Watson</strong>
            </div>
          </div><!--.testimonial-->
        </div><!--Customer-2-->
        <div class="swiper-slide">
          <div class="testimonial card rounded-lg shadow border-0">
            <div class="testimonial-avatar">
              <img src="./images/avatar/avatar-0.jpg" alt="..." class="img-fluid">
            </div>
            <div class="text">
              <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
              <p class="testimonial-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
              <strong>Jessica Watson</strong>
            </div>
          </div><!--.testimonial-->
        </div><!--Customer-3-->
        <div class="swiper-slide">
          <div class="testimonial card rounded-lg shadow border-0">
            <div class="testimonial-avatar">
              <img src="./images/avatar/avatar-0.jpg" alt="..." class="img-fluid">
            </div>
            <div class="text">
              <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
              <p class="testimonial-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
              <strong>Jessica Watson</strong>
            </div>
          </div><!--.testimonial-->
        </div><!--Customer-4-->
      </div>
      <div class="swiper-pagination"></div>
  </div>
</section>