<div class="hero-home">
  <div class="swiper-container" id="heroImage">
    <div class="swiper-wrapper">
      <div class="swiper-slide img-1"></div>
      <div class="swiper-slide img-2"></div>
      <div class="swiper-slide img-3"></div>
      <div class="swiper-slide img-4"></div>
  </div>
  <div class="hero-text">
   <div class="container">
    <div class="text-center text-lg-left">
      <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">The best holiday experience</p>
      <h1 class="display-3 font-weight-bold text-shadow">Stay like a local</h1>
    </div>
   </div>
  </div><!--hero-text-->
</div>