<section class="our-guide-block py-5 bg-white">
  <div class="container">
    
    <div class="row mb-5">
      <div class="col-md-8">
        <p class="subtitle text-primary">Stay and eat like a local</p>
        <h2>Our guides</h2>
      </div>
      <div class="col-md-4 d-lg-flex align-items-center justify-content-end">
        <a href="category.html" class="text-muted text-sm">
          See all guides<i class="fas fa-angle-double-right ml-2"></i>
        </a>
      </div>
    </div><!--row-1-->

    <div class="row">
      <div class="swiper-container" id="guidesSilder">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide guide-1">
            <div class="card-body overlay-content">
              <h6 class="card-title text-shadow text-uppercase">New York</h6>
              <p class="card-text text-sm">The big apple</p>
            </div>
          </a>
          <a href="#" class="swiper-slide guide-2">
            <div class="card-body overlay-content">
              <h6 class="card-title text-shadow text-uppercase">Paris</h6>
              <p class="card-text text-sm">Artist capital of Europe</p>
            </div>
          </a>
          <a href="#" class="swiper-slide guide-3">
            <div class="card-body overlay-content">
              <h6 class="card-title text-shadow text-uppercase">Prague</h6>
              <p class="card-text text-sm">City of hundred towers</p>
            </div>
          </a>
          <a href="#" class="swiper-slide guide-4">
            <div class="card-body overlay-content">
              <h6 class="card-title text-shadow text-uppercase">Barcelona</h6>
              <p class="card-text text-sm">Dalí, Gaudí, Barrio Gotico</p>
            </div>
          </a>
        </div>
      </div>
    </div><!--row-2-->

  </div><!--container-->

</section>