<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
    <div class="container-fluid">

      <div class="d-flex align-items-center">
        <a href="index.html" class="navbar-brand py-1">
          <img src="https://d19m59y37dris4.cloudfront.net/directory/1-1/img/logo.svg" alt="Directory logo">
        </a>

        <!-- <form>
          <div class="search-form d-sm-flex">
            <i class="fas fa-search"></i>
            <input class="search-input" type="search" placeholder="Search">
            <button type="button" class="btn-search"><i class="fas fa-times"></i></button>
          </div>
        </form> -->

        <form action="#" id="search" class="form-inline d-none d-sm-flex">
          <div class="input-label-absolute input-label-absolute-left input-reset input-expand ml-lg-2 ml-xl-3 search-form"> 
            <i class="fa fa-search"></i>
            <input  placeholder="Search" class="form-control form-control-sm border-0 shadow-0 search-input">
            <button type="reset" class="btn btn-reset btn-sm btn-search my-0 p-1"><i class="fa-times fas"></i></button>
          </div>
        </form>
      </div>

      <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right ml-auto">
        <i class="fa fa-bars"></i>
      </button>
      <!--NavBar-Collapse-->
      <div id="navbarCollapse" class="navbar-collapse collapse">
        <form action="#" id="searchcollapsed" class="form-inline mt-4 mb-2 d-sm-none">
          <div class="input-label-absolute input-label-absolute-left input-reset w-100 d-flex search-form align-items-center">
            <i class="fa fa-search"></i>
            <input id="searchcollapsed_search" placeholder="Search" aria-label="Search" class="form-control form-control-sm search-input">
          </div>
        </form>

        <ul class="navbar-nav ml-auto" style="font-weight:600">

          <li class="nav-item dropdown show">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home
            </a>
            <div aria-labelledby="homeDropdownMenuLink" class="dropdown-menu">
              <a href="index.html" class="dropdown-item">Rooms</a>
              <a href="index-2.html" class="dropdown-item">Restaurants</a>
            </div>
          </li><!--Home-->

          <li class="nav-item dropdown position-static" >
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Template
            </a>
            <div class="dropdown-menu megamenu py-lg-0 m-0 border-0 shadow-lg" style="right:0">
              <div class="row">
                <div class="col-lg-9">
                  
                  <div class="row p-3 pr-lg-0 pl-lg-5 pt-lg-5">

                    <div class="col-lg-3">
                      <!-- Megamenu list-->
                      <h6 class="text-uppercase">Homepage</h6>
                      <ul class="megamenu-list list-unstyled">
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Rooms</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Restaurants</a></li>
                      </ul>
                      <!-- Megamenu list-->
                      <h6 class="text-uppercase">Restaurants</h6>
                      <ul class="megamenu-list list-unstyled">
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Category - Map on the top</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Category - Map on the right</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Category - No map</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Restaurants detail</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3"> 
                      <!-- Megamenu list-->    
                      <h6 class="text-uppercase">Rooms</h6>
                      <ul class="megamenu-list list-unstyled">
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Category - Map on the top</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Category - Map on the right</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Category - No map</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Rooms detail</a></li>
                      </ul>
                      <!-- Megamenu list-->
                      <h6 class="text-uppercase">Blog</h6>
                      <ul class="megamenu-list list-unstyled">
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Blog</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Post</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3">
                        <h6 class="text-uppercase">Pages</h6>
                        <ul class="megamenu-list list-unstyled">
                          <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Contact</a></li>
                          <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Pricing</a></li>
                          <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Text page</a></li>
                          <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">F.A.Q.s<span class="badge badge-info ml-1">New</span></a></li>
                          <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Coming soon</a></li>
                        </ul>
                        <!-- Megamenu list-->
                        <h6 class="text-uppercase">User</h6>
                        <ul class="megamenu-list list-unstyled">
                          <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Add new listing  - 6 pages <span class="badge badge-warning ml-1">New</span></a></li>
                          <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Sign in</a></li>
                          <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Sign up</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                      <!-- Megamenu list-->
                      <h6 class="text-uppercase">Documentation</h6>
                      <ul class="megamenu-list list-unstyled">
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Introduction</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Directory structure</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Gulp</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Customizing CSS</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Credits</a></li>
                        <li class="megamenu-list-item"><a href="#" class="megamenu-list-link">Changelog</a></li>
                      </ul>
                      <!-- Megamenu list-->
                      <h6 class="text-uppercase">Components</h6>
                      <ul class="megamenu-list list-unstyled">
                        <li class="megamenu-list-item"><a href="docs/components-bootstrap.html" class="megamenu-list-link">Bootstrap</a></li>
                        <li class="megamenu-list-item"><a href="docs/components-directory.html" class="megamenu-list-link">Theme</a></li>
                      </ul>
                    </div>
                  </div><!--row-1-->
                  
                  <div class="row megamenu-services d-none d-lg-flex pl-lg-5">

                    <div class="col-xl-3 col-lg-6 d-flex">
                      <div class="megamenu-services-item">
                        <svg class="svg-icon megamenu-services-icon">
                          <use xlink:href="#destination-map-1"> </use>
                        </svg>
                        <div>
                          <h6 class="text-uppercase">Best rentals</h6>
                          <p class="mb-0 text-muted text-sm">Find the perfect place</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 d-flex">
                      <div class="megamenu-services-item">
                        <svg class="svg-icon megamenu-services-icon">
                          <use xlink:href="#money-box-1"> </use>
                        </svg>
                        <div>
                          <h6 class="text-uppercase">Earn points</h6>
                          <p class="mb-0 text-muted text-sm">And get great rewards</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 d-flex">
                      <div class="megamenu-services-item">
                        <svg class="svg-icon megamenu-services-icon">
                          <use xlink:href="#customer-support-1"> </use>
                        </svg>
                        <div>
                          <h6 class="text-uppercase">020-800-456-747</h6>
                          <p class="mb-0 text-muted text-sm">24/7 Available Support</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 d-flex">
                      <div class="megamenu-services-item">
                        <svg class="svg-icon megamenu-services-icon">
                          <use xlink:href="#secure-payment-1"> </use>
                        </svg>
                        <div>
                          <h6 class="text-uppercase">Secure Payment</h6>
                          <p class="mb-0 text-muted text-sm">Secure Payment</p>
                        </div>
                      </div>
                    </div>
                  </div><!--row-2-->

                </div><!--col-lg-9-->

                <div class="col-lg-3 d-none d-lg-block">
                  <img src="https://d19m59y37dris4.cloudfront.net/directory/1-1/img/photo/photo-1521170665346-3f21e2291d8b.jpg" alt="" class="img-fluid" style="width:100%">
                </div><!--col-lg-3-->
              </div>

            </div>
          </li><!--Template-->

          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li><!--Contact-->

          <li class="nav-item dropdown show">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Docs
            </a>
            <div aria-labelledby="homeDropdownMenuLink" class="dropdown-menu">
                <h6 class="dropdown-header font-weight-normal">Documentation</h6>
                <a href="#" class="dropdown-item">Introduction</a>
                <a href="#" class="dropdown-item">Directory structure</a>
                <a href="#" class="dropdown-item">Gulp</a>
                <a href="#" class="dropdown-item">Customizing CSS</a>
                <a href="#" class="dropdown-item">Credits</a>
                <a href="#" class="dropdown-item">Changelog</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header font-weight-normal">Components</h6>
                <a href="#" class="dropdown-item">Bootstrap </a>
                <a href="#" class="dropdown-item">Theme </a>
            </div>
          </li><!--Docs-->

          <li class="nav-item"><a class="nav-link" href="sign-in.html">Sign In</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up.html">Sign Up</a></li>
          <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
            <a href="#" class="btn btn-primary">Add a listing</a>
          </li>
        </ul>
      </div><!--.navbarCollapse-->
    </div><!--container-fluid-->
  </nav>
</header><!--Header-->