.our-brands-block {
  .letter-spacing-3 {
    letter-spacing: .3em;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .opacity-7 {
    opacity: .7;
  }
  .w-6rem {
    width: 6rem !important;
  }
}