.bg-gray-100 {
  background: #f8f9fa !important;
}
.bg-primary-light {
  background: #e1e5fe;
}
.icon-rounded {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
}