.testimonial {
  position: relative;
  margin-left: 3rem;
  padding: 4rem;
  padding-left: 70px;
  @media (max-width: 1199.98px){
    margin-top: 2.5rem;
    margin-left: 0;
    padding: 60px 40px 40px;
  }
}

.testimonial-avatar {
  overflow: hidden;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: -5.665px 9.429px 35px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 50%;
  left: 0;
  @media (max-width: 1199.98px) {
    position: absolute;
    top: 0;
    left: 50%;
  }
}