.our-guide-block {
  .swiper-slide {
    padding: 0 10px;
    @media (min-width: 992px) {
      padding: 0;
    } 
    .img-city{
      height: 100%;
      width: 100%;
      border-radius: 5px;
      
    }
  } 
}
.card-body {
  text-align: start;
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-shadow: 0 0 2px black;
}
