<section class="py-6 py-lg-7 position-relative dark-overlay"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-1/img/photo/photo-1507915135761-41a0a222c709.jpg" alt="" class="bg-image">
  <div class="container">
    <div class="overlay-content text-white py-lg-5 text-center">
      <p class="subtitle text-white letter-spacing-4 mb-4">Find the best spots</p>
      <h3 class="display-3 font-weight-bold text-serif text-shadow mb-5">Travel &amp; Explore</h3>
      <p class="lead text-shadow mb-5">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p><a href="category-rooms.html" class="btn btn-primary">Get started</a>
    </div>
  </div>
</section>