<section class="pt-4 pb-6">
  <div class="container">
    <div class="pb-lg-4">
      <p class="subtitle text-secondary">One-of-a-kind directory app</p>
      <h2 class="mb-5">Discover great local businesses around you</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="px-0 pr-lg-3">
          <div class="icon-rounded mb-3 bg-secondary-light">
            <svg class="svg-icon w-2rem h-2rem text-secondary">
              <use xlink:href="#love-pin-1"> </use>
            </svg>
          </div>
          <h3 class="h6 text-uppercase">Find the perfect place</h3>
          <p class="text-muted text-sm">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed in</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="px-0 pr-lg-3">
          <div class="icon-rounded mb-3 bg-primary-light">
            <svg class="svg-icon w-2rem h-2rem text-primary">
              <use xlink:href="#pay-by-card-1"> </use>
            </svg>
          </div>
          <h3 class="h6 text-uppercase">Book your seats</h3>
          <p class="text-muted text-sm">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pit</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="px-0 pr-lg-3">
          <div class="icon-rounded mb-3 bg-secondary-light">
            <svg class="svg-icon w-2rem h-2rem text-secondary">
              <use xlink:href="#food-1"> </use>
            </svg>
          </div>
          <h3 class="h6 text-uppercase">Enjoy your evening</h3>
          <p class="text-muted text-sm">His room, a proper human room although a little too small, lay peacefully between its four familiar </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="px-0 pr-lg-3">
          <div class="icon-rounded mb-3 bg-primary-light">
            <svg class="svg-icon w-2rem h-2rem text-primary">
              <use xlink:href="#pay-1"> </use>
            </svg>
          </div>
          <h3 class="h6 text-uppercase">Earn points</h3>
          <p class="text-muted text-sm">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of </p>
        </div>
      </div>
    </div>
  </div>
</section>