<section class="py-6 bg-gray-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0 text-center text-lg-left">
        <p class="subtitle text-secondary">Start using Directory today</p>
        <p class="text-lg">Directory is the best way to find &amp; discover great local businesses</p>
        <p class="text-muted mb-0">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed in</p>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <p class="mb-2"><a href="sign-up.html" class="btn btn-lg btn-primary">Create Your Account</a></p>
          <p class="text-muted text-small">It's free!</p>
        </div>
      </div>
    </div>
  </div>
</section>