<section class="d-flex align-items-center dark-overlay bg-cover" style="background-image: url(./images/hero-5.jpg);">
  <div class="container py-6 py-lg-7 text-white overlay-content text-center"> 
    <h1 class="display-3 font-weight-bold text-shadow">Discover Directory</h1>
    <p class="text-lg text-shadow">Uncover the best places to eat, drink, and shop nearest to you.</p>   
  </div>
</section>