<section class="py-6 bg-gray-100 popular-block">
  <div class="container">
    <div class="text-center pb-lg-4">
      <p class="subtitle text-secondary">Try something new today</p>
      <h2 class="mb-5">Popular places around you</h2>
    </div>
  </div>
  
  <div class="swiper-container py-5 px-lg-5" id="popularSlider">
    <div class="swiper-wrapper">

      <div class="swiper-slide h-auto px-2">
        <div class="card h-100 border-0 shadow">
          <div style="background-image: url(./images/restaurant/img-1.jpg); min-height: 200px;" class="card-img-top overflow-hidden dark-overlay bg-cover">
          <a href="detail.html" class="tile-link"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Blue Hill</h4>
              <p class="mb-2 text-xs">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-gray-300"></i>
              </p>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2">Restaurants</div>
              <a href="#" class="card-fav-icon position-relative z-index-40"> 
                <svg class="svg-icon text-white">
                  <use xlink:href="#heart-1"> </use>
                </svg></a>
            </div>
          </div>
          <div class="card-body">
            <p class="text-sm text-muted mb-3"> Cupidatat excepteur non dolore laborum et quis nostrud veniam dolore deserunt. Pariatur dolore ut in elit id nulla. Irur...</p>
            <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
            <p class="text-sm mb-0"> 
              <a href="#" class="mr-1">Restaurant, </a>
              <a href="#" class="mr-1">Contemporary</a>
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide h-auto px-2">
        <div class="card h-100 border-0 shadow">
          <div style="background-image: url(./images/restaurant/img-2.jpg); min-height: 200px;" class="card-img-top overflow-hidden dark-overlay bg-cover">
          <a href="#" class="tile-link"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Plutorque</h4>
              <p class="mb-2 text-xs">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-gray-300"></i>
              </p>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2">Restaurants</div>
              <a href="#" class="card-fav-icon position-relative z-index-40"> 
                <svg class="svg-icon text-white">
                  <use xlink:href="#heart-1"> </use>
                </svg></a>
            </div>
          </div>
          <div class="card-body">
            <p class="text-sm text-muted mb-3"> Cupidatat excepteur non dolore laborum et quis nostrud veniam dolore deserunt. Pariatur dolore ut in elit id nulla. Irur...</p>
            <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
            <p class="text-sm mb-0">
              <a href="#" class="mr-1">Restaurant, </a>
              <a href="#" class="mr-1">Fusion</a>
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide h-auto px-2">
        <div class="card h-100 border-0 shadow">
          <div style="background-image: url(./images/restaurant/img-3.jpg); min-height: 200px;" class="card-img-top overflow-hidden dark-overlay bg-cover">
          <a href="detail.html" class="tile-link"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Junipoor</h4>
              <p class="mb-2 text-xs">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
              </p>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2">Music club</div>
              <a href="#" class="card-fav-icon position-relative z-index-40"> 
                <svg class="svg-icon text-white">
                  <use xlink:href="#heart-1"> </use>
                </svg></a>
            </div>
          </div>
          <div class="card-body">
            <p class="text-sm text-muted mb-3"> Cupidatat excepteur non dolore laborum et quis nostrud veniam dolore deserunt. Pariatur dolore ut in elit id nulla. Irur...</p>
            <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
            <p class="text-sm mb-0">
              <a href="#" class="mr-1">Music, </a>
              <a href="#" class="mr-1">Teachno, </a>
              <a href="#" class="mr-1">House</a>
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide  h-auto px-2">
        <div class="card h-100 border-0 shadow">
          <div style="background-image: url(./images/restaurant/img-4.jpg); min-height: 200px;" class="card-img-top overflow-hidden dark-overlay bg-cover">
          <a href="detail.html" class="tile-link"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Musix</h4>
              <p class="mb-2 text-xs">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-gray-300"></i>
                <i class="fa fa-star text-gray-300"></i>
              </p>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2">Music club</div>
              <a href="#" class="card-fav-icon position-relative z-index-40"> 
                <svg class="svg-icon text-white">
                  <use xlink:href="#heart-1"> </use>
                </svg></a>
            </div>
          </div>
          <div class="card-body">
            <p class="text-sm text-muted mb-3"> Cupidatat excepteur non dolore laborum et quis nostrud veniam dolore deserunt. Pariatur dolore ut in elit id nulla. Irur...</p>
            <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
            <p class="text-sm mb-0">
              <a href="#" class="mr-1">Music, </a>
              <a href="#" class="mr-1">Club, </a>
              <a href="#" class="mr-1">Rock</a>
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide h-auto px-2">
        <div class="card h-100 border-0 shadow">
          <div style="background-image: url(./images/restaurant/img-5.jpg); min-height: 200px;" class="card-img-top overflow-hidden dark-overlay bg-cover">
          <a href="detail.html" class="tile-link"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Prosure</h4>
              <p class="mb-2 text-xs">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
              </p>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2">Restaurants</div>
              <a href="#" class="card-fav-icon position-relative z-index-40"> 
                <svg class="svg-icon text-white">
                  <use xlink:href="#heart-1"> </use>
                </svg></a>
            </div>
          </div>
          <div class="card-body">
            <p class="text-sm text-muted mb-3"> Cupidatat excepteur non dolore laborum et quis nostrud veniam dolore deserunt. Pariatur dolore ut in elit id nulla. Irur...</p>
            <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
            <p class="text-sm mb-0">
              <a href="#" class="mr-1">Nisi, </a>
              <a href="#" class="mr-1">Ex, </a>
              <a href="#" class="mr-1">Eiusmod</a>
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide h-auto px-2">
        <div class="card h-100 border-0 shadow">
          <div style="background-image: url(./images/restaurant/img-6.jpg); min-height: 200px;" class="card-img-top overflow-hidden dark-overlay bg-cover">
          <a href="detail.html" class="tile-link"></a>
            <div class="card-img-overlay-bottom shadow z-index-20">
              <h4 class="text-white text-shadow">Take That</h4>
              <p class="mb-2 text-xs">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-gray-300"></i>
              </p>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2">Café</div>
              <a href="#" class="card-fav-icon position-relative z-index-40"> 
                <svg class="svg-icon text-white">
                  <use xlink:href="#heart-1"> </use>
                </svg></a>
            </div>
          </div>
          <div class="card-body">
            <p class="text-sm text-muted mb-3"> Cupidatat excepteur non dolore laborum et quis nostrud veniam dolore deserunt. Pariatur dolore ut in elit id nulla. Irur...</p>
            <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
            <p class="text-sm mb-0">
              <a href="#" class="mr-1">Nisi, </a>
              <a href="#" class="mr-1">Ex, </a>
              <a href="#" class="mr-1">Eiusmod</a>
            </p>
          </div>
        </div>
      </div>

    </div><!--swiper-wraper-->
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>