<div class="container">
  <div class="search-bar rounded p-3 p-lg-4 position-relative mt-n5 z-index-20">
    <form action="#">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-center form-group">
          <input type="search" name="search" placeholder="What are you searching for?" class="form-control border-0 shadow-0">
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center form-group">
          <div class="input-label-absolute input-label-absolute-right w-100">
            <label for="location" class="label-absolute"><i class="fa fa-crosshairs"></i>
              <div class="sr-only">City</div>
            </label>
            <input type="text" name="location" placeholder="Location" id="location" class="form-control border-0 shadow-0">
          </div>
        </div>
        <div class="col-lg-3 d-flex align-items-center form-group no-divider">
          <select class="custom-select form-control border-0 shadow-0 ">
            <option selected hidden>Categories</option>
            <option >Restaurants</option>
            <option value="1">Hotels</option>
            <option value="2">Cafes</option>
            <option value="3">Garages</option>
          </select>
        </div>
        <div class="col-lg-2 form-group mb-0">
          <button type="submit" class="btn btn-primary btn-block h-100">Search </button>
        </div>
      </div>
    </form>
  </div>
</div>