<section class="py-6">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8">
          <p class="subtitle text-primary">Most popular cities</p>
          <h2>What's trending</h2>
        </div>
        <div class="col-md-4 d-md-flex align-items-center justify-content-end"><a href="category.html" class="text-muted text-sm">
             
            See all cities<i class="fas fa-angle-double-right ml-2"></i></a></div>
      </div>
      <div class="row">
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-8">
          <div style="background: center center url(./images/san-francisco.jpg) no-repeat; background-size: cover;" class="card shadow-lg border-0 w-100 border-0">
            <a href="category.html" class="tile-link"></a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">San Francisco</h3>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
          <div style="background: center center url(./images/los-angeles.jpg) no-repeat; background-size: cover;" class="card shadow-lg border-0 w-100 border-0">
            <a href="category.html" class="tile-link"> </a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">Los Angeles</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
          <div style="background: center center url(./images/santa-monica.jpg) no-repeat; background-size: cover;" class="card shadow-lg border-0 w-100 border-0"><a href="category.html" class="tile-link"> </a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">Santa Monica</h3>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
          <div style="background: center center url(./images/san-diego.jpg) no-repeat; background-size: cover;" class="card shadow-lg border-0 w-100 border-0"><a href="category.html" class="tile-link"> </a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">San Diego</h3>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
          <div style="background: center center url(./images/fresno.jpg) no-repeat; background-size: cover;" class="card shadow-lg border-0 w-100 border-0"><a href="category.html" class="tile-link"> </a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">Fresno</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>